#!/bin/bash
##################################################
#### Config
##################################################

echo "reading config..."

#### your AWSACCESSKEYID
id=""
#####your AWSSECRETACCESSKEY
key=""

#### your S3 Bucket
mybucket=""
#### your target mountpoint
mountpoint="./mnt"

#### local caching
cache="-ouse_cache=/tmp"

echo "finish reading config"
