#!/bin/bash

## RDS Instance Name
name="test"

## size in GB, 5 is minimum
size="5"

## instance type (db.m1.small)
#instance-type="db.m1.small"

## Database Type (MySQL)
database-type="MySQL"

## Database Username,Password
username="test"
password="test"


## default region
export EC2_REGION=us-west-1

## mysql engine version
engine="MySQL5.8"

## instance class
class="db.m1.small"

