#!/bin/bash
##################################################
#### Config
##################################################

#### your AWSACCESSKEYID
id=$AWSACCESSKEYID
#####your AWSSECRETACCESSKEY
key=$AWSSECRETACCESSKEY

#### your S3 Bucket
mybucket=$bucket
#### your target mountpoint
mountpoint="../mnt"

#### local caching
cache="-ouse_cache=/tmp"

